.seat {
  height: 26px;
  width: 26px;
  border-radius: 12px;

  background-color: #c3cfd9;
  margin-bottom: 10px;

  font: 400 11px/13px "Roboto";

  display: flex;
  justify-content: center;
  align-items: center;
}

.unavailable {
  background-color: #fbe192;
}

.selected {
  background-color: #8dd7cf;
}
